* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    background-color: #8fbc8f;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.nav-links a:hover {
    text-decoration: underline;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem; /* Adjust this value if necessary */
    width: 100%;
}

.delete-box {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.delete-box h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.delete-box p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #8fbc8f;
}

.forgot-password {
    text-align: right;
    margin-bottom: 1rem;
}

.forgot-password a {
    color: #31b0d5;
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.delete-button, .cancel-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.delete-button {
    background-color: #d9534f;
    color: #fff;
}

.delete-button:hover {
    background-color: #c9302c;
}

.cancel-button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}

.cancel-button:hover {
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: relative;
    bottom: 0;
}
