* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    background-color: #8fbc8f;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* ヘッダーに影を追加 */
    z-index: 1000; /* ヘッダーが他の要素の上に表示されるようにする */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.nav-links a:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 5rem;
    margin-top: 4rem; /* コンテンツがヘッダーの下に隠れないように調整 */
}

.image-container img {
    max-width: auto;
    height: 400px;
    display: block;
    margin-right: auto;
}

.content-container {
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 300px;
    padding: 0.75rem;
    margin: 15px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

ul {
    margin-bottom: 20px;
}

ul li {
    margin-left: 20px;
    list-style-type: disc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
