* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    background-color: #8fbc8f;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* ヘッダーに影を追加 */
    z-index: 1000; /* ヘッダーが他の要素の上に表示されるようにする */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.nav-links a:hover {
    text-decoration: underline;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-height: 60vh; /* コンテナの最大高さを設定 */
    overflow-y: auto; /* 垂直スクロールを追加 */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1, h2, h3 {
    color: #333;
}

p {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

ul li {
    margin-left: 20px;
    list-style-type: disc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
